button[type="submit"] {
    width: 7%;
    height: 50px;
    border: 3px solid black;
    border-radius: 15px;
    background-color: #72f542;
    font-weight: 800;
    margin-top: 2%;
}
input {
    width: 30%;
    height: 50px;
    border: 3px solid black;
    border-radius: 15px;
    font-size: large;
    background-color: #84e5f1;
    font-weight: 800;
}
#container {
    margin: 0 auto;
    text-align: center;
}
#header{
    background-color: #72f542;
    padding: 5%;
    height: 50px;
    text-align: center;
    color: white;
 
}
body{
    margin: 0;
}